<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22008002867-6fl6sr1oelu847sm8l543or23eujn78f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22008002867-6fl6sr1oelu847sm8l543or23eujn78f</string>
	<key>API_KEY</key>
	<string>AIzaSyAnbMNsQwcWdhKOPAeoe7OvTTXyY2k-nNU</string>
	<key>GCM_SENDER_ID</key>
	<string>22008002867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stylish</string>
	<key>PROJECT_ID</key>
	<string>stylish-app-93002</string>
	<key>STORAGE_BUCKET</key>
	<string>stylish-app-93002.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22008002867:ios:c396e11708661d1f916646</string>
</dict>
</plist>